VITE_SUPABASE_URL=https://lzkllxdyyoaclcfvlzfl.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imx6a2xseGR5eW9hY2xjZnZsemZsIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzM3NTA0MDUsImV4cCI6MjA4OTMyNjQwNX0.Crmt3w2vIdWCLHtjNsOCmyvj_9zNmVCbFyJ7m6i2VV0
